.article-one {
    padding-top: 50px;
}
.article-one h6{
	padding-left:50%;
}
.article-two .demo{
	width:33.3%;
	height:200px;
	float:left;
}
.article{
	margin-bottom:80px;
}
.footer {
    margin-bottom: 200px;
    margin-top: 200px;
}